In [1]:
import pandas as pd
import datetime as dt

In [2]:
file = pd.read_csv('Resources/cities.csv')

In [3]:
new_df = pd.DataFrame(file)

In [4]:
new_df['City'] = new_df['City'].str.capitalize()

In [5]:
new_df['Date'] = pd.to_datetime(new_df.Date, infer_datetime_format=True, format="%Y%m%d")

In [6]:
new_df['Date'] = new_df['Date'].dt.date

In [7]:
new_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Jacareacanga,0,BR,1970-01-01,62,-6.22,-57.76,89.60,6.93
1,1,Kaitangata,100,NZ,1970-01-01,94,-46.28,169.85,42.61,5.64
2,2,Goulburn,20,AU,1970-01-01,91,-34.75,149.72,44.32,10.11
3,3,Lata,76,IN,1970-01-01,89,30.78,78.62,59.89,0.94
4,4,Chokurdakh,0,RU,1970-01-01,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...,...
542,542,Scalea,36,IT,1970-01-01,100,39.82,15.79,70.06,5.30
543,543,San andres,68,PH,1970-01-01,100,13.32,122.68,83.47,22.64
544,544,Muisne,92,EC,1970-01-01,84,0.61,-80.02,76.90,4.63
545,545,Ati,20,TD,1970-01-01,25,13.21,18.34,104.53,4.97
546,546,San luis,0,AR,1970-01-01,53,-33.30,-66.34,42.43,2.62

In [9]:
new_df.to_html('cities.html', index=False)